.inputField {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.inputField > label {
    color: white;
    font-weight: normal;
}

.inputField > input, .inputField > textarea {
    font-family: 'Source Sans Pro', sans-serif;
    color: aliceblue;
    background-color: #636262;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px;
}

.inputField > input {
    height: 2rem;
}

.inputField > textarea {
    min-height: 5rem;
}

.inputField > input:focus, .inputField > textarea:focus {
    outline: none;
}

.inputField > input::placeholder, .inputField > textarea::placeholder {
    color: #CACACA;
}