/* EDUCATION */
.edu-preview-item,
.work-preview-item,
.project-preview-item {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

.edu-preview-item {
    gap: 2px;
}

.college-name-course,
.timeframe-degree-type {
    display: flex;
    justify-content: space-between;
}

.school {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.1rem;
}

.course {
    font-size: 1rem;
    font-weight: 500;
}

.timeframe-degree-type {
    font-size: 16px;
    font-style: italic;
}

/* WORK */
.work-preview-item .details {
    display: flex;
    justify-content: space-between;
}

.work-preview-item .head {
    display: flex;
    flex-direction: column;
}

.work-preview-item .position,
.project-preview-item .head {
    font-weight: 500;
    font-size: 1.2rem;
}

.work-preview-item .position-company {
    display: flex;
    gap: 2px;
}

.work-preview-item .company {
    font-size: 0.9rem;
    color: rgb(78, 78, 78);
}

.work-preview-item .employment-type {
    margin-top: 3px;
    font-family: 'Playfair Display SC', sans-serif;
}

.work-preview-item .timeframe {
    color: #464646;
}

.work-preview-item .highlights,
.project-preview-item .desc {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px 20px;
}

/* PROJECTS */
.project-preview-item .head {
    display: flex;
    gap: 2px;
}

.project-preview-item .tech {
    margin-top: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #525252;
    font-style: italic;
}

/* SKILLS */
.skill-preview-item {
    /* font-family: 'Playfair Display', sans-serif; */
    display: flex;
    gap: 5px;
}

.skill-preview-item .category {
    font-weight: bold;
}