.edu-preview-item {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.college-name-course,
.timeframe-degree-type {
    display: flex;
    justify-content: space-between;
}

.school {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.1rem;
}

.course {
    font-size: 1rem;
    font-weight: 500;
}

.timeframe-degree-type {
    font-size: 16px;
    font-style: italic;
}

.work-preview-item {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

.work-preview-item .details {
    display: flex;
    justify-content: space-between;
}

.work-preview-item .main {
    display: flex;
    gap: 2px;
}

.work-preview-item .position {
    font-weight: 500;
    font-size: 1.2rem;
}

.work-preview-item .company {
    font-size: 0.8rem;
}

.work-preview-item .employment-type {
    margin-top: 3px;
    font-family: 'Playfair Display SC', sans-serif;
}

.work-preview-item .timeframe {
    color: #464646;
}