h1 {
    padding: 10px 0 10px 10px;
    font-size: 36px;
    font-weight: normal;
}

main {
    background-color: #A6A6A6;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cv-preview {
    background-color: white;
}

.cv-data {
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow-y: scroll; */
    /* position: sticky; */
}