h1 {
    padding: 10px 0 10px 10px;
    font-size: 36px;
    font-weight: normal;
}

ul {
    list-style: none;
}

main {
    background-color: #A6A6A6;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.cv-data {
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cv-preview {
    padding: 3rem 3rem 3rem 3rem;
}

.cv-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 4px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.update-btn {
    background-color: rgb(212, 247, 189);
}

.update-btn:hover {
    background-color: rgb(172, 205, 150);
}

.update-btn:active {
    background-color: rgb(127, 151, 111);
}

.add-btn {
    background-color: lightgreen;
}

.add-btn:hover {
    background-color: rgb(122, 199, 122);
}

.add-btn:active {
    background-color: rgb(67, 118, 67);
}

.delete-btn {
    background-color: #D95437;
}

.delete-btn:hover {
    background-color: #ab442d;
}

.delete-btn:active {
    background-color: #60291c;
}


.head {
    padding: 5px 20px;
    background-color: rgba(255, 183, 74, 0.67);
    
}

.full-name {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.job-title {
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
}

.preview {
    min-height: 1040px;
    min-width: 700px;
    width: max-content;
    max-width: 900px;
    box-shadow: -3px -3px 10px rgb(85, 85, 85);
    background-color: #F0F0F0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.generate-pdf:hover {
    background-color: rgb(183, 177, 177);
}

.generate-pdf:active {
    background-color: rgb(152, 150, 150);
}

.general, .education, .practical-exp {
    padding: 12px 20px;
}

.contact {
    color: #373737;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr max-content;
    justify-content: space-between;
    grid-auto-rows: 1fr;
    gap: 0.5rem 2rem;
}

.contact img {
    vertical-align: -7px;
    margin-right: 4px;
}

.description {
    margin: 1% auto 0 auto;
    /* max-width: 700px; */
    text-align: justify;
    font-style: italic;
}

.preview section * {
    font-family: 'Poppins', sans-serif;
}

hr {
    margin-bottom: 7px;
}

.section-title {
    font-weight: normal;
    font-size: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education-items input, .practical-exp-items input {
    background-color: #ababab;
    color: black;
}