@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+JP:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,400&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

body, #root {
    height: 100%;
    background-color: #DADADA;
}

#root {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

hr {
    background-color: #202020;
}