.cv-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 4px;
}

.update-btn {
    background-color: rgb(212, 247, 189);
}

.update-btn:hover {
    background-color: rgb(172, 205, 150);
}

.update-btn:active {
    background-color: rgb(127, 151, 111);
}

.add-btn {
    background-color: lightgreen;
}

.add-btn:hover {
    background-color: rgb(122, 199, 122);
}

.add-btn:active {
    background-color: rgb(67, 118, 67);
}

.delete-btn {
    background-color: #D95437;
}

.delete-btn:hover {
    background-color: #ab442d;
}

.delete-btn:active {
    background-color: #60291c;
}