.cv-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 4px;
}

.update-btn {
    background-color: rgb(212, 247, 189);
}

.add-btn {
    background-color: lightgreen;
}

.delete-btn {
    background-color: crimson;
}