.section {
    min-width: 615px;
    max-width: 768px;
    box-shadow: -3px -3px 6px rgb(85, 85, 85);
    background-color: #7E7E7E;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.sectionHead {
    color: white;
    background-color: #676767;
}

.sectionHead > h2 {
    padding-left: 10px;
    font-weight: normal;
}

.sectionBody {
    padding: 5px 10px;
}