.section {
    min-width: 615px;
    max-width: 768px;
    box-shadow: -3px -3px 6px rgb(139, 139, 139);
    background-color: #7E7E7E;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.sectionHead {
    color: rgb(0, 0, 0);
    background-color: #ececec;
}

.sectionHead > h2 {
    padding-left: 10px;
    font-weight: normal;
}

.sectionBody {
    padding: 5px 10px;
}