.data .company {
    font-size: 24px;
}

.data .position {
    font-size: 1.2rem;
    color: #3e3e3e;
}

.data .highlights {
    color: #676767;
    max-width: 650px;
    text-align: justify;
}

.edu-items input,
.work-items input,
.work-items select,
.work-items textarea {
    background-color: #ababab;
    color: black;
}